/* Estilo geral para as tabelas */
table {
    /* Juntar as bordas / remover espaço entre as bordas */
    border-collapse: collapse;
    width: 100%;
    margin: 20px auto;
}

th,td {
    padding: 8px;
    text-align: left;
}

/* Estilo para o cabeçalho das tabelas */
th {
    background-color: #e2e2e2;
    font-weight: 900;
    border-bottom: 10px solid #1df700;
}

/* Estilo para a Tabela 1 */
.tabela-1 th, .tabela-1 td {
    border: 5px solid #6f236f;
    /* Adicionar bordas finas para células */
}

.tabela-1 img {
    width: 50px;
    /* Ajustar tamanho da imagem */
    margin-right: 10px;
    /* Adicionar margem à direita da imagem */
}

.tabela-1 button {
    background-color: #4CAF50;
    /* Cor verde para o botão de compra */
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;

}


/* Estilo para a Tabela 2 */
.tabela-2 th, .tabela-2 td {
    border: 1px solid #f80000;
}


.tabela-2 .status-entregue {
    color: #fff;
    /* Cor verde para status "Entregue" */
}



.tabela-2 .status-processamento {
    color: orange;
    /* Cor laranja para status "Em Processamento" */
}

.tabela-2 .status-aguardando {
    color: red;
    /* Cor vermelha para status "Aguardando Pagamento" */
}

.status-entregue{
    background-color: green;
}














