html{
  font-weight: 800;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    border-collapse: collapse; 
    width: 80%; 
    margin: 0 auto;
    background-color: rgb(0, 64, 64);
    border: 2px solid;
  }
  
  th, td {
    padding: 8px; 
    text-align: center; 
    color:#ffffff;
    border: 2px solid;


  }
  
  th {
    background-color: #2e2d2d; 
    font-weight: bold; 
  }

  tr:nth-child(even) {
    background-color: rgb(150, 0, 108);
  }

  tr:nth-child(odd){
    background-color: rgb(236, 18, 87);
  }

  caption{
    background-color: bisque;
    padding: 10px;
    font-size: larger;
    color: darkmagenta;
    margin-bottom: 20px;
  }

  .altura{
    height: 200px;
  }


